body{
    background-color: aquamarine;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
   
}
img {
    width: 80%;
    height: auto;
    align-items: center;
  }
  nav{
    text-align: center;
  }